<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <h1>Product detail Page</h1>
    <hr>

    <div class="card">
        <h3><%= product.title %></h3>
        <p>A book description is a short summary of a book's story or content that is designed to “hook” a reader and lead to a sale. Typically, the book's description conveys important information about
             its topic or focus (in nonfiction) or the plot and tone (for a novel or any other piece of fiction).</p>
    </div>
   
</body>
</html>